# Node modules
node_modules/

# Environment variables
.env
.env.*

# SSL certificates
certs/

# Firebase service account
service-account.json

# Optional: log files
*.log

# Optional: OS / Editor specific
.DS_Store
.vscode/

# Test artifacts
test-results/
playwright-report/
